body {
    background-color: aliceblue;
    padding: 5px;
    list-style-position: inside;
}

p2 {
    display: flex;
    align-content: left;
}

#yo {
    text-align: center;
}
#idiomas {
    display: flex;

}